body {
  font-family: Roboto, Arial;
  height: 4650px;
  padding-top: 48px;
  margin: 0;
  width: 1200px;
}

header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
  align-items: center;
  padding: 20px;
  border: 1px solid;
}

nav {
  display: flex;
  gap: 20px;
}

.right-section {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.signup-button,
.gift-button {
  padding: 10px 15px;
  background-color: rgb(215, 243, 123);
  color: black;
  border: none;
  border-radius: 5px;
}

.hero {
  background-color: rgb(176, 219, 156);
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:1280px;
  text-align: left;
  margin-bottom: 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

.hero-image-container {
  width: 476px;
}

.hero-image {
  width: 100%;
}
.hero-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.early-access-button {
  width: 373px;
  height: 40px;
  margin-top: 30px;
  font-size: large;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.expo {
  height: 927px;
  background-color: rgb(202, 232, 189);
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1280px;
  padding: 20px;
}

.expo-content {
  width: 689px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.expo-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.expo-slide {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.slide-image-1,
.slide-image-3 {
  width: 408px;
}

.slide-image-2 {
  height: 272px;
  width: 350px;
}

.slide-image-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.slide-text {
  width: 300px;
  margin-left: 20px;
}

.expo-button-cont {
  margin-top: 60px;
  margin-left: 100px;
}

.expo-button {
  width: 180px;
  height: 60px;
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.sourcing {
  height: 720px;
  background-color: rgb(202, 232, 189);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1280px;
  padding: 20px;
}

.sourcing-content {
  width: 634px;
  margin-left: 20px;
  margin-top: 100px;
}

.sourcing-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sourcing-image {
  width: 450px;
}

.sourcing-button-container {
  margin-top: 50px;
}

.sourcing-button {
  width: 108px;
  height: 40px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(202, 232, 189);
}

.sourcing-button-2 {
  width: 108px;
  height: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(202, 232, 189);
  border:none
}

.testimonials {
  height: 625px;
  background-color: rgb(221, 246, 210);
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 1280px;
  padding: 20px;
}

.testimonial-content {
  width: 608px;
  margin-left: 80px;
  margin-top: 100px;
}

.testimonial-title {
  font-size: 40px;
  margin-bottom: -10px;
}

.testimonial-scroll {
  font-family: Roboto, Arial;
  width: 1200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 300px;
}

.testimonial-1,
.testimonial-2,
.testimonial-3 {
  width: 500px;
  height: 200px;
  background-color: rgb(253, 255, 220);
  border-radius: 7px;
  padding: 20px;
  margin-top: 20px;
}

.stars {
  color: rgb(201, 237, 115);
  font-size: 40px;
}

.testimonial-author {
  font-weight: bold;
  margin-top: 50px;
}

.ceo {
  height: 451px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1280px;
}

.ceo-image-container {
  width: 274px;
}

.ceo-image {
  width: 100%;
}

.ceo-content {
  width: 570px;
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 100px;
}

.ceo-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.faq {
  height: 800px;
  background-color: rgb(236, 250, 229);
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 1280px;
  padding: 20px;
}

.faq-content {
  margin-left: 20px;
  margin-top: 40px;
}

.faq-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -10px;
}

.faq-accordion {
  width: 860px;
  margin-top: 20px;
  margin-bottom: 400px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
}

.faq-item {
  width: max;
  padding: 20px;
  margin-top: 10px;
  flex: 1;
  border-top: 1px solid rgb(0, 0, 0);
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
  line-height: 20px;
}

.faq-answer {
  font-size: 15px;
  padding-top: 10px;
}

footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  width: 1280px;
  justify-content: center;
  align-items: center;
}

.footer-content {
  height: 200px;
  width: 500px;
  padding-left: 250px;
  margin-top: 100px;
  border-top: 1px solid rgb(0, 0, 0);
}

.hidden {
  display: none;
}

.faq-answer.active {
  display: block;
}

.button,
button {
  cursor: pointer;
}
.buttons-1:hover {
  background-color: rgb(200, 230, 100);
}

.logo {
  font-size: 24px;
  font-weight: 500;
  color: rgb(170, 213, 70);
}

.buttons-2:active {
  color: rgb(0, 0, 0);
  background-color: rgb(175, 237, 179);
  border-radius: 5px;
  border: none;
}
