body {
  font-family: Roboto, Arial;
  height: 5332px;
  padding-top: 48px;
  margin: 0;
  width: 1280px;
}

header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  align-items: center;
  padding: 20px;
  border: 1px solid;
}

nav {
  display: flex;
  gap: 20px;
}

.right-section {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.signup-button,
.gift-button {
  padding: 10px 15px;
  background-color: rgb(215, 243, 123);
  color: black;
  border: none;
  border-radius: 5px;
}

.hero {
  background-color: rgb(176, 219, 156);
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:1280px;
  text-align: left;
  margin-bottom: 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

.hero-image-container {
  width: 476px;
}

.hero-image {
  width: 100%;
}
.hero-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.early-access-button {
  width: 373px;
  height: 40px;
  margin-top: 30px;
  font-size: large;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.expo {
  height: 927px;
  background-color: rgb(202, 232, 189);
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1280px;
}

.expo-content {
  width: 689px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.expo-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.expo-slide {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.slide-image-1,
.slide-image-3 {
  width: 408px;
}

.slide-image-2 {
  height: 272px;
  width: 350px;
}

.slide-image-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.slide-text {
  width: 300px;
  margin-left: 20px;
}

.expo-button-cont {
  margin-top: 60px;
  margin-left: 100px;
}

.expo-button {
  width: 180px;
  height: 60px;
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.sourcing {
  height: 720px;
  background-color: rgb(202, 232, 189);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1280px;
}

.sourcing-content {
  width: 634px;
  margin-left: 20px;
  margin-top: 100px;
}

.sourcing-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}